.search_field {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    margin-block-start: 0.5em;

    .hunt_field {
        width: min(840px, 100%);
        font-size: 0.6em;
        padding: 0.2em 0.6em;
        border: none;
        border-radius: 6px 0 0 6px;

        &:hover {
            background-color: $bright_gray;
        }
    }

    .hunt_btn {
        max-width: 30%;
        font-size: 1em;
        text-transform: uppercase;
        color: #fff;
        background: transparent;
        padding: 0.4em 0.6em;
        border: 1px solid;
        border-radius: 0 6px 6px 0;
        cursor: pointer;
        transition: 100ms ease-in-out;

        &:hover {
            background-color: $raisin_black;
        }

        &:active {
            transform: scale(1.02);
            box-shadow: -6px 0 6px 0px $Spanish_Gray;
        }
    }
}
