$prussian_blue: #063b4c;
$black: #000;
$raisin_black: #222;
$bright_gray: #eee;
$Spanish_Gray: #999;

$maastricht_blue: #0a2336;
$prussian_blue_light: #05384d;
$blue_sapphire: #055778;

$sub_title_font_size: 0.45em;
$title_font_size: 0.6em;
$big_font_size: 0.8em;
$line_gap: 10px;

$unicode_circle: \25CF;
$unicode_dash: \2014;
